.nav1 {
    display: flex;
    align-items: center;
    Justify-content:space-between;
    backgroud-color: #bf7878;
    padding: 20px;
    text-decoration: none;
}

.Nav-img {
  width: 150px;
  height: auto;
  padding: 0;
  order:1;
}

.nav1 a.active{
    color:#ffff;
    fonte-weight: bold;
    text-decoration: none;
}

figure{
    background-image: url(../Images/Ann-arbor-flower.jpg);
    height: 200px;
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin:1px; /* Add space from the top */
    opacity: ;
    border-radius: 2px;
}

body{
    background-color:#d2bf85;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 150%;

}
#third-img {
    margin-bottom: 150px;
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

.images {
    margin-bottom: 150px;
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    padding: 10px;
}

#firsth1 {
    margin-bottom: -30px;
    padding:10px;
}
main {
 padding: 10PX;
 margin: 10px;
margin-bottom: 150px;
}

footer {
    background-color: #333;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the footer content */
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0%; /* Align to the bottom */
    width: 100%; /* Full width of the footer */
}
