.Skip-Main {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  transition: top 0.3s ease-in-out;
}

.Skip-Main:focus {
  top: 0;
}

header {
  background-color: #bf7878;
}
.nav1 {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:#bf7878;
    padding: 20px;
    text-decoration: none;
}

.Nav-img {
  width: 150px;
  height: auto;
  padding: 0;
  order:1;
}

.nav1 a.active{
    color:#ffff;
    font-weight: bold;
    text-decoration: none;
}

figure{
    background-image: url(../Images/Ann-arbor-flower.jpg);
    height: 200px;
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin:1px; /* Add space from the top */
    opacity:0.9;
    border-radius: 2px;
}

.images {
    display: grid;
    grid-template-columns: 40% 40%; /* Two columns */
    grid-gap:15%;
    margin-bottom: 100px;
    width: 70%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    padding: 50px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.images img {
    width: 100%; /* Make the image responsive */
}
body{
    background-color:#d2bf85;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 150%;

}
    
#firsth1 {
    margin-bottom: -30px;
    padding:10px;
}

.firsth1 {
     color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 200%;
    margin-bottom:0;
}

main {
 padding: 10PX;
 margin: 10px;
margin-bottom: 150px;
}

footer {
    background-color: #333;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the footer content */
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0%; /* Align to the bottom */
    width: 100%; /* Full width of the footer */
}
